header {


   background-color: transparent;
  


   color: white;
   position: absolute;
   padding: 20px 170px;
   top: 0;
   margin: 0;

   width: 100%;
}

.header__box {
  display: flex;
  flex-direction: row;
  
}

.header__box-logo {
  cursor: pointer;
  font-size: 45px;
  font-family: 'Lobster', cursive;
  font-weight: 500;
  padding: 0;
  margin-right: 250px;
}

.header__box-content > {
 
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  


}
.header__box-content > li {
 
  cursor: pointer;
 
  display: inline-block;
  list-style: none;

  font-size: 22px;

  transition: all 0.3 ease;
  padding: 0 15px;
 
}

.header__box-content > li:hover {
   color: rgb(243, 243, 243);
 
}
/* nav link styles & animação */
.header__box-content-item > * {
  color: inherit;
  font-family: 'Bree Serif', serif;
 
  text-decoration: none;

 
  

}




