




.services_group {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.services_group-item {
  margin: 0 25px;
} 

.services_group-item img {
  height: 120px;
  width: 250px;
  margin-bottom: 5px;
}

.services_group-item h1 {
  color: #535151;
  font-size: 18px;
  margin-bottom: 15px;
}