/* modal background */
.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  transition: all 0.4s ease;
  overflow: hidden;
}

.modal-header {
  background: linear-gradient(90deg, #474747 0%, #1a1919 100%);
  color: white;
  padding: 2px 16px;
}

.modal-body {
  padding: 2px 16px;
}

/* estilos dentro do modal + animação */
.modal-content {
 
  animation-name: animatetop;
  animation-duration: 0.4s;
  background-image: url(https://images.unsplash.com/photo-1594279689140-67b7be5ef065?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fGF1dG9tb2JpbGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #888;
  max-height: 650px;
  padding: 3rem 4rem 0 4rem;

  position: relative;
  margin: 20px auto;
  width: 80%;
  z-index: 0;
}


.modal-content:after {
  background-image: radial-gradient(
    ellipse at left bottom,
    rgb(136, 133, 133) 0%,
    rgba(29, 28, 29, 0.9) 59%,
    rgba(3, 3, 3, 0.9) 100%
  );
  box-shadow: 0 -20px 150px -20px rgba(0, 0, 0, 0.5);
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 0;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.form-content {
  position: relative;
  z-index: 1;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
/* modal nav */
.modal-nav {
  position: relative;
  padding: 0;
  margin: 0 0 4em 1rem;
}






/* modal close styles */
.modal-nav__close {
  color: rgb(231, 225, 225);
   cursor: pointer;
  float: right;
  font-size: 42px;
}

.modal-nav__close:hover,
.modal-nav__close:focus {
  color: white;

}








/* keyframes (animação */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 10px;
    opacity: 1;
  }
}
